Project_Interphase/WebContent/wsdl/Admin_Login.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="login_info">
    <complexType>
     <sequence>
      <element name="Username" type="xsd:string"/>
      <element name="Password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="login_infoResponse">
    <complexType>
     <sequence>
      <element name="login_infoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="login_infoRequest">

      <wsdl:part element="impl:login_info" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="login_infoResponse">

      <wsdl:part element="impl:login_infoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Admin_Login">

      <wsdl:operation name="login_info">

         <wsdl:input message="impl:login_infoRequest" name="login_infoRequest">

       </wsdl:input>

         <wsdl:output message="impl:login_infoResponse" name="login_infoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Admin_LoginSoapBinding" type="impl:Admin_Login">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login_info">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="login_infoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="login_infoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Admin_LoginService">

      <wsdl:port binding="impl:Admin_LoginSoapBinding" name="Admin_Login">

         <wsdlsoap:address location="http://localhost:8080/Bill_Calculation_project/services/Admin_Login"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
