Project_Interphase/WebContent/wsdl/calculate_bill.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calculate_billing">
    <complexType>
     <sequence>
      <element name="Meter_No" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculate_billingResponse">
    <complexType>
     <sequence>
      <element name="calculate_billingReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculate_billingRequest">

      <wsdl:part element="impl:calculate_billing" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculate_billingResponse">

      <wsdl:part element="impl:calculate_billingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="calculate_bill">

      <wsdl:operation name="calculate_billing">

         <wsdl:input message="impl:calculate_billingRequest" name="calculate_billingRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculate_billingResponse" name="calculate_billingResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calculate_billSoapBinding" type="impl:calculate_bill">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculate_billing">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculate_billingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculate_billingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="calculate_billService">

      <wsdl:port binding="impl:calculate_billSoapBinding" name="calculate_bill">

         <wsdlsoap:address location="http://localhost:8080/Bill_Calculation_project/services/calculate_bill"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
